/* ELEMENTS SECTION */
body{
    font-family: sans-serif;
    font-size:110%;
    background-color: #FCF7F8;
    border: solid 20px  coral;
    
  
  }
  
  header {
    text-align: center;
    
    color: rgb(226, 235, 235);
  }
  #heading {
    font-family: sans-serif;
    background-color:#343330;
    color: rgb(226, 235, 235);
  
  }
  #headshot{
    border: 10px solid rgb(202, 104, 38);
    border-radius: 50%;
    position: relative;
  }
  
  footer {
    background-color: #343330;
    text-align: center;
  }
  
   /* CLASSES SECTION */
  .main{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    
  }
  
  #sidebar {
    background-color:rgb(67, 78, 19) ;
    width: 25%;
    text-align: center;
    color: rgb(229, 238, 238);
    padding: 1rem;
  
    flex: 8;
  }
  
  #content{
    width: 80%;
    padding: 1rem;
    margin: 1rem;
  }
  h1{
    font-size: 30px;
  }
    
  /* ID SECTION */
  .icons{
    width: 40px ;
    height: 50px ;
  
  }

  


 

   

